<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>examen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    
    <div class="card">
  <div class="card-header">
  <h5 class="card-title">calculo calorico</h5>
  </div>
  <div class="card-body">
    <div class="text-center fs-5"> nombre del alimento</div>
    <div  class="row">
    <input type="text" class="rounded border border-end-0">
  </div>
  <div class="row">
    <div class="col-4">
      <div class="text">grasas (g) </div>
      <input type="text-center input-center" name="grasas" id="grasas">
    </div>
    <div class="col-4">
      <div class="text">proteinas (g) </div>
      <input type="text-center input-center" name="proteinas" id="proteinas">
    </div>
    <div class="col-4">
      <div class="text">carbohidratos (g) </div>
      <input type="text-center input-center" name="carbohidratos" id="carbohidratos" method="GET">
    </div>
  </div>
    
    <a href="/clasificador" class="btn btn-success">clasifica y registra</a>
  </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>